# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore environment files
.env
.env.*

# Ignore SQLite database
db.sqlite3

# Ignore IDE-specific files
.idea/

# Ignore migrations
main/migrations/

# Ignore media files
media/

# Ignore system files
.DS_Store
Thumbs.db
