{% extends 'base.html' %}
{% block title %}Grzegorz Bartos - About Me{% endblock %}
{% block content %}
{% load static %}
    <!-- main area part start -->
    <main>
      <section class="content-box-area mt-4">
        <div class="container">
          <div class="row g-4">
            {% include 'profile_card.html' %}
            <div class="col-xl-8">
              <div class="card content-box-card">
                <div class="card-body">
                  <div class="top-info">
                    <div class="text">
                      <h1 class="main-title">Hi, This Is <span>Grzegorz</span> 👋</h1>
                      <p>A <b>Back-end Developer</b> 🖥️ with a knack for learning fast and adapting to new challenges. I excel at tackling unfamiliar problems and helping others overcome their technical hurdles.</p>
                      <p>Here's what I have <b>achieved</b> so far:</p>
                    </div>
                      <div class="available-btn">
                      {% if AVAILABILITY %}
                        <span class="available"><i class="fas fa-circle"></i> Available For Hire</span>
                      {% else %}
                        <span class="unavailable"><i class="fas fa-circle"></i> Unavailable</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="counter-area">
                    <div class="counter">
                      <div class="counter-item">
                        <h3 class="number">{{ YEARS_OF_EXPERIENCE }}+</h3>
                        <p class="subtitle">Years of Experience</p>
                      </div>
                      <div class="counter-item">
                        <h3 class="number">{{ PROJECTS_COMPLETED }}+</h3>
                        <p class="subtitle">Projects Completed
                        </p>
                      </div>
                      <div class="counter-item">
                        <h3 class="number">{{ CLIENT_COUNT }}+</h3>
                        <p class="subtitle">Happy Clients
                        </p>
                      </div>
                    </div>
                    <div class="circle-area">
                      <div class="circle-text">
                        <img class="circle-image" src="{% static 'img/about/circle-text.svg'' %}" alt="circle-text">
                        <img class="circle-image circle-image-light d-none"
                          src="{% static 'img/about/circle-text-light.svg'' %}" alt="circle-text">
                        <span class="arrow-down">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 5V35" stroke="white" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M15 30L20 35L25 30" stroke="white" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  {% if brands %}
                  {% include 'working-with.html' %}
                  {% endif %}
                  {% include 'client-feedback.html' %}
                  {% if articles %}
                  <div class="article-publications">
                    <h2 class="main-common-title">Article and Publications</h2>
                    <div class="article-publications-main">
                      <div class="row article-publications-slider">
                        <div class="col-lg-6">
                          <div class="article-publications-item">
                            <div class="image">
                              <a href="article.html" class="d-block w-100">
                                <img src="{% static 'img/blog/blog-img-1.jpg" alt="blog-img-1" class="img-fluid w-100">
                              </a>
                              <a href="article.html" class="tags">Development</a>
                            </div>
                            <div class="text">
                              <a href="article.html" class="title">Want To Upgrade Your Brain? Stop Doing These 7
                                Things</a>
                              <ul class="list-unstyled">
                                <li>15 min read</li>
                                <li>Nov 6, 2023</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="article-publications-item">
                            <div class="image">
                              <a href="article.html" class="d-block w-100">
                                <img src="{% static 'img/blog/blog-img-2.jpg" alt="blog-img-2" class="img-fluid w-100">
                              </a>
                              <a href="article.html" class="tags">Development</a>
                            </div>
                            <div class="text">
                              <a href="article.html" class="title">Want To Upgrade Your Brain? Stop Doing These 7
                                Things</a>
                              <ul class="list-unstyled">
                                <li>15 min read</li>
                                <li>Nov 6, 2023</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="article-publications-item">
                            <div class="image">
                              <a href="article.html" class="d-block w-100">
                                <img src="{% static 'img/blog/blog-img-3.jpg" alt="blog-img-3" class="img-fluid w-100">
                              </a>
                              <a href="article.html" class="tags">Development</a>
                            </div>
                            <div class="text">
                              <a href="article.html" class="title">Want To Upgrade Your Brain? Stop Doing These 7
                                Things</a>
                              <ul class="list-unstyled">
                                <li>15 min read</li>
                                <li>Nov 6, 2023</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% include 'work-together-slider.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- background shape area start -->
      {% include 'background.html' %}
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->
{% endblock %}
