{% extends 'base.html' %}
{% block content %}
    <!-- main area part start -->
    <main>

      <section class="content-box-area mt-4">
        <div class="container">
          <div class="row g-4">
            {% include 'profile_card.html' %}
            <div class="col-xl-8">
              <div class="card content-box-card">
                <div class="card-body portfolio-card">
                  <div class="top-info">
                    <div class="text">
                      <h1 class="main-title">{% if page_obj %}My Recent Articles and Publications{%else%}No articles yet.{% endif %}</h1>
                      <p>{{ description }}</p>
                    </div>
                  </div>
                  {% if page_obj %}
                  {% include 'blog-items.html' %}
                  {% include 'pagination.html' %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- background shape area start -->
      {% include 'background.html' %}
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->
{% endblock %}