{% extends 'base.html' %}
{% block title %}Grzegorz Bartos - Home{% endblock %}
{% block content %}
{% load static %}
    <!-- main area part start -->
    <main>
      <section class="home-area">
        <div class="container">
          <div class="row g-4">
            {% include 'profile_card.html' %}
            <div class="col-xl-4">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body work-experiance-card">
                      <h3 class="card-title">Certifications</h3>
                      <div class="work-experiance-main">
                        <ul class="work-experiance-slider list-unstyled">
                          {% for certificate in certificates %}
                          <li>
                            <div class="date">
                              <p>{% if certificate.date_issued %}{{ certificate.date_issued }}{% else %}In progress{% endif %}</p>
                            </div>
                            <div class="info">
                              <div class="icon">
                                <img src="{{ certificate.icon.url }}" alt="{{ certificate.source }}">
                              </div>
                              <div class="text">
                                <h4 class="title">{{ certificate.source }}</h4>
                                <h6 class="subtitle">{{ certificate.title }}</h6>
                              </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="card expertise-card">
                    <div class="card-body">
                      <h3 class="card-title">My Expert Area
                      </h3>
                      <div class="expertise-main mt-24">
                        <div class="row g-3">
                          {% for expert_area in expert_areas %}
                          <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                            <div class="expertise-item">
                              <div class="image text-center">
                                <img src="{{ expert_area.image.url }}" alt="{{ expert_area.title }}">
                              </div>
                              <div class="text">
                                <h4 class="title">{{ expert_area.title }}</h4>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card card-projects">
                <div class="card-body">
                  <h3 class="card-title">Recent Projects <a class="link-btn" href="/projects/">All Projects
                      <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.16699 10H15.8337" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M10.833 15L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M10.833 5L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </a></h3>
                  <div class="projects-main mt-24">
                    <div class="row g-4 parent-container">
                      {% for project in projects %}
                      <div class="col-lg-12">
                        <div class="project-item">
                          <div class="image">
                            <img src="{% if project.image %}{{ project.image.url }}{% endif %}" alt="{{ project.count }}" class="img-fluid w-100">
                            <a href="{% if project.image %}{{ project.image.url }}{% endif %}"
                              class="gallery-popup full-image-preview parent-container">
                              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                              </svg>
                            </a>
                            <div class="info">
                              <span class="category">{{ project.title }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services-area mt-24">
            <div class="row g-4">
              <div class="col-xl-8">
                <div class="card services-card">
                  <div class="card-body">
                    <h3 class="card-title">Services I Offer
                      <a class="link-btn" href="services"> See All Services
                        <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M4.16699 10H15.8337" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M10.833 15L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M10.833 5L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
                      </a></h3>
                    {% include 'services-tiles.html' %}
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="card lets-talk-together-card">
                  <div class="card-body">
                    <div class="scrolling-info">
                      <div class="slider-item">
                        <p>
                          Available For Hire 🚀 Crafting Digital Experiences 🎨 Available For Hire 🚀 Crafting Digital
                          Experiences 🎨
                        </p>
                      </div>
                    </div>
                    <h3 class="card-title">Let's👋
                      <span class="d-block">Work Together</span>
                    </h3>
                    <a class="link-btn" href="contact"> Let's Talk
                      <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5 11.6665V6.6665H12.5" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M17.5 6.6665L10 14.1665L2.5 6.6665" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- background shape area start -->
    {% include 'background.html' %}
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->
{% endblock %}
