{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- main area part start -->
    <main>
      <section class="content-box-area mt-4">
        <div class="container">
          <div class="row g-4">
            {% include 'profile_card.html' %}
            <div class="col-xl-8">
              <div class="card content-box-card">
                <div class="card-body portfolio-card article-details-card">
                  <div class="article-details-area">
                    <div class="main-image">
                      {% if article.image %}
                        <img src="{{ article.image.url }}" alt="article image" class="img-fluid w-100">
                      {% else %}
                        <img alt="Default Image" class="img-fluid w-100">
                      {% endif %}
                    </div>
                    <ul class="list-unstyled article-tags">
                      <li>{{ article.read_length }} min read</li>
                      <li>{{ article.publication_date }}</li>
                      {% if article.views %}
                      <li>{{ article.views }} Views</li>
                      {% endif %}
                    </ul>
                    <div class="article-details-text">
                      <h3 class="main-title">{{ article.title }}</h3>
                      <p>{{ article.content|safe }}</p>
                      <div class="tags-and-share">
                        <div class="tags">
                          <h3 class="title">Tags:</h3>
                          <ul class="list-unstyled">
                            {% for tag in article.get_tags %}
                            <li><a href="#">{{ tag }}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="share">
                          <h3 class="title">Share:</h3>
                          <div class="social-media-icon mt-0">
                            <ul class="list-unstyled">
                              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                              <li><a href="#"><i class="fab fa-github"></i></a></li>
                              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      {% if previous_article or next_article %}
                      <div class="related-post">
                        <h2 class="main-common-title">Other articles</h2>
                        <div class="row g-4">
                          {% if previous_article %}
                          <div class="col-md-6">
                            <div class="article-publications-item">
                              <div class="image">
                                <a href="{% url 'article' previous_article.id %}" class="d-block w-100">
                                  {% if previous_article.image %}
                                    <img src="{{ previous_article.image.url }}" alt="Previous article image" class="img-fluid w-100">
                                  {% else %}
                                    <img src="{% static 'path/to/default/image.jpg' %}" alt="Default Image" class="img-fluid w-100">
                                  {% endif %}
                                </a>
                                <a href="{% url 'article' previous_article.id %}" class="tags">{{ previous_article.category }}</a>
                              </div>
                              <div class="text">
                                <a href="{% url 'article' previous_article.id %}" class="title">
                                  {{ previous_article.title }}
                                </a>
                                <ul class="list-unstyled">
                                  <li>{{ previous_article.read_length }} min read</li>
                                  <li>{{ previous_article.publication_date }}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                          {% if next_article %}
                          <div class="col-md-6">
                            <div class="article-publications-item">
                              <div class="image">
                                <a href="{% url 'article' next_article.id %}" class="d-block w-100">
                                  {% if next_article.image %}
                                    <img src="{{ next_article.image.url }}" alt="Next article image" class="img-fluid w-100">
                                  {% else %}
                                    <img src="{% static 'path/to/default/image.jpg' %}" alt="Default Image" class="img-fluid w-100">
                                  {% endif %}
                                </a>
                                <a href="{% url 'article' next_article.id %}" class="tags">{{ next_article.category }}</a>
                              </div>
                              <div class="text">
                                <a href="{% url 'article' next_article.id %}" class="title">
                                  {{ next_article.title }}
                                </a>
                                <ul class="list-unstyled">
                                  <li>{{ next_article.read_length }} min read</li>
                                  <li>{{ next_article.publication_date }}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                      {% endif %}
                      {% if 1 == 0 %}
                      <div class="leave-comments-area">
                        <h2 class="main-common-title">Leave a Comment
                        </h2>
                        <div class="comments-box">
                          <div class="row gx-3">
                            <div class="col-md-6">
                              <div class="mb-4">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control shadow-none" placeholder="Enter your name">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="mb-4">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control shadow-none" placeholder="Enter your email">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="mb-4">
                                <label class="form-label">Comment</label>
                                <textarea class="form-control shadow-none" rows="4"
                                  placeholder="Type details about your inquiry"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <button class="submit-btn" type="submit">
                                Post Comment
                                <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path d="M17.5 11.6665V6.6665H12.5" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                  <path d="M17.5 6.6665L10 14.1665L2.5 6.6665" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- background shape area start -->
      <div class="background-shapes">
        <div class="shape-1 common-shape">
          <img src="{% static 'img/bg/banner-shape-1.png' %}" alt="banner-shape-1">
        </div>
        <div class="shape-2 common-shape">
          <img src="{% static 'img/bg/banner-shape-1.png' %}" alt="banner-shape-1">
        </div>
        <div class="threed-shape-1 move-with-cursor" data-value="1">
          <img src="{% static 'img/bg/object-3d-1.png' %}" alt="object-3d-1">
        </div>
        <div class="threed-shape-2 move-with-cursor" data-value="1">
          <img src="{% static 'img/bg/object-3d-2.png' %}" alt="object-3d-2">
        </div>
      </div>
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->
{% endblock %}