{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- main area part start -->
    <main>

      <section class="content-box-area mt-4">
        <div class="container">
          <div class="row g-4">
            {% include 'profile_card.html' %}
            <div class="col-xl-8">
              <div class="card content-box-card">
                <div class="card-body portfolio-card">
                  <div class="portfolio-details-area">
                    <div class="main-image">
                      {% if project.image %}
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">
                      {% else %}
                        <img src="{% static 'img/projects/default-image.png' %}" alt="Default Project Image">
                      {% endif %}
                    </div>
                    <div class="portfolio-details-text">
                      <div class="short-info">
                        {% if project.client %}
                        <div class="info-item">
                          <p class="subtitle">Client For:</p>
                          <h4 class="card-title">{{ project.client }}</h4>
                        </div>
                        {% endif %}
                        {% if project.services %}
                        <div class="info-item">
                          <p class="subtitle">Services:</p>
                          <h4 class="card-title">
                            {{ services_formatted }}
                          </h4>
                          {% if project.website %}
                          <a href="{{ project.website }}" class="website">
                            {{ project.website }}
                            <svg class="arrow-up" width="14" height="15" viewBox="0 0 14 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.91634 4.5835L4.08301 10.4168" stroke-linecap="round" stroke-linejoin="round">
                              </path>
                              <path d="M4.66699 4.5835H9.91699V9.8335" stroke-linecap="round" stroke-linejoin="round">
                              </path>
                            </svg>
                          </a>
                          {% endif %}
                        </div>
                        {% endif %}
                      </div>
                      {% if project.overview %}
                      <div class="overview">
                        <h4 class="card-title">Overview</h4>
                        <p>{{ project.overview|safe }}</p>
                      </div>
                      {% endif %}
                    </div>
                    {% if additional_images %}
                    <div class="inner-images">
                      <div class="row g-3">
                        {% for image in additional_images %}
                        <div class="col-md-6">
                          <div class="image-item">
                            <img src="{{ image.image.url }}" alt="Additional image for {{ project.title }}"
                              class="img-fluid w-100">
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                    {% if project.description %}
                    <div class="more-info-block">
                      <h3 class="more-info-title">Project Description</h3>
                      <p>{{ project.description|safe }}</p>
                    </div>
                    {% endif %}
                    <div class="prev-and-next-btn">
                        {% if previous_project %}
                            <a href="{% url 'portfolio_details' previous_project.id %}" class="btn btn-prev">Previous</a>
                        {% endif %}
                        {% if next_project %}
                            <a href="{% url 'portfolio_details' next_project.id %}" class="btn btn-next">Next</a>
                        {% endif %}
                    </div>
                  </div>
                  {% include 'work-together-slider.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- background shape area start -->
      <div class="background-shapes">
        <div class="shape-1 common-shape">
          <img src="{% static 'img/bg/banner-shape-1.png' %}" alt="banner-shape-1">
        </div>
        <div class="shape-2 common-shape">
          <img src="{% static 'img/bg/banner-shape-1.png' %}" alt="banner-shape-1">
        </div>
        <div class="threed-shape-1 move-with-cursor" data-value="1">
          <img src="{% static 'img/bg/object-3d-1.png' %}" alt="object-3d-1">
        </div>
        <div class="threed-shape-2 move-with-cursor" data-value="1">
          <img src="{% static 'img/bg/object-3d-2.png' %}" alt="object-3d-2">
        </div>
      </div>
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->
{% endblock %}